    <script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__PUBLIC__/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/Admin/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/contabs.min.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/pace/pace.min.js"></script>
    <script src="__PUBLIC__/Admin/js/content.min.js?v=1.0.0"></script>
    <script src="__PUBLIC__/Admin/js/plugins/layer/laydate/laydate.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/validate/messages_zh.min.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/validate/additional-methods.js"></script>
    <script src="__PUBLIC__/Admin/js/demo/form-validate-demo.min.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
    
    <script type="text/javascript">
        var BASE_URL = 'js/plugins/webuploader/index.html';
    </script>
    <script src="__PUBLIC__/Admin/js/plugins/webuploader/webuploader.min.js"></script>
    <script src="__PUBLIC__/Admin/js/demo/webuploader-demo.min.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
    <script>
        laydate({elem:"#hello",event:"focus"});var start={elem:"#start",format:"YYYY/MM/DD hh:mm:ss",min:laydate.now(),max:"2099-06-16 23:59:59",istime:true,istoday:false,choose:function(datas){end.min=datas;end.start=datas}};var end={elem:"#end",format:"YYYY/MM/DD hh:mm:ss",min:laydate.now(),max:"2099-06-16 23:59:59",istime:true,istoday:false,choose:function(datas){start.max=datas}};laydate(start);laydate(end);
    </script>
    