<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>评价晒单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/address.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/loaders.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/loading.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css">
    <style type="text/css">
        .shade_content_div {
            height: 100%;
            width: 100%;
        }

        .shade_content_div .shade_title {
            font-size: 30px;
            text-align: center;
            font-weight: bold;
        }

        .shade_content_div .shade_from>div:not(:last-child) {
            margin-bottom: 10px;
        }

        .shade_content_div .shade_from {
            margin-top: 20px;
        }

        .shade_content_div .input_style {
            height: 30px;
            border-radius: 5px;
            width: 70%;
            outline: 0px;
            border: 1px solid #CCCCCC;
        }
    </style>
    <script src="__PUBLIC__/Home/js/jquery.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/js/layer.js"></script>
    <link href="__PUBLIC__/Home/css/layer.css" type="text/css" rel="styleSheet" id="layermcss">
    <script type="text/javascript">
        $(window).load(function () {
            $(".loading").addClass("loader-chanage");
            $(".loading").fadeOut(300);
        });


    </script>
</head>
<!--loading页开始-->

<body style="background-color:#f8f8f8;">
    <div class="loading">
        <div class="loader">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!--loading页结束-->

    <header class="mui-bar mui-bar-nav" id="header">
        <a class="btn" href="javascript:history.go(-1)">
            <i class="iconfont icon-fanhui"></i>
        </a>
        <p>评价晒单</p>
    </header>
    <ul class="address-list">
        <foreach name='list' item='vo' key='k'>
            <li>
                <p>评论时间：{$vo.addtime}</p>
                <hr>
                <div style="position: relative;">
                    <a href="{:U('Home/Goods/goods/goods_id/'.$vo['goods']['goods_id'])}">
                        <!-- <img src="__PUBLIC__/../Uploads/Goods/{$vo.goods.image}" style="float: left;">
                        <span>{$vo.goods.name}</span>
                        <div style="display: inline-block;width: 70%; border-left: 1px solid #f7f7f7;">
                            <p style="color: #6b6666;">{$vo.goods.name}</p>
                        </div> -->
                        <div style="float: left; width: 29%;">
                            <h2 style="margin:0 1.7rem; color: black; font-weight: normal;">{$vo.goods.name}</h2>
                            <img src="__PUBLIC__/../Uploads/Goods/{$vo.goods.image}" style="float: left;">
                        </div>
                        <div style="float: left; width: 70%; border-left: 1px solid #f7f7f7;">
                            <p style="color: #6b6666; word-wrap: break-word;">{$vo.remark}</p>
                        </div>
                        <div style="clear: both;"></div>
                    </a>
                    <hr>
                </div>
                <div class="address-cz">
                    <a href="{:U('Home/Goods/goods/goods_id/'.$vo['goods']['goods_id'])}" class="deleteButton">查看商品</a>
                    <a href="javascript:del({$vo.remark_id})" class="editButton surebuygo">删&nbsp;&nbsp;&nbsp;&nbsp;除</a>
                </div>
            </li>
        </foreach>
    </ul>
    <script>
        function del(ID) {
            $.ajax({
                url: '{:U('Home/User/delRemark')}',
                type: 'post',
                data: { 'remark_id': ID },
                dataType: 'json',
                success: function (data) {
                    if (data.state) {
                        window.location.reload();
                    } else {
                        alert(data.msg);
                    }
                }
            })
        }

    </script>

    <!--尾部-->
    <include file="Public/footer" />
</body>

</html>