<include file="Public/header" />

<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<form action="" method="post" enctype="multipart/form-data" id="signupForm">
			<input type="hidden" name="goods_id" value="{$detail.goods_id}">
			<div class="row animated fadeInRight">
				<h3 style="margin-left:13px;">商品资料</h3>
				<hr style="width:98%; height:2px;border:none;border-top:1px solid #185598;" />
				<div class="col-md-3">
					<div class="form-group">
						<label for="showEasing">商品分类</label>
						<select class="form-control m-b" name="status">
							<option value="{$detail.status}">{$detail.statusInfo}</option>
							<option value="1">每月推荐</option>
							<option value="2">积分礼品</option>
							<option value="3">特价抢购</option>
						</select>
					</div>
					<div class="form-group">
						<label for="showEasing">商品名称</label>
						<input type="text" name="name" placeholder="" class="form-control" value="{$detail.name}">
					</div>
					<div class="form-group">
						<label for="showEasing">商品图片</label>
						<input type="file" name="image" placeholder="" class="form-control">
						<if condition="($detail.image neq '')">
							<br/>
							<img src="/Uploads/Goods/{$detail.image}" max-width="400px">
						</if>
					</div>
					<div class="form-group">
						<label for="showEasing">商品价格</label>
						<input type="text" name="price" placeholder="" class="form-control" value="{$detail.price}">
					</div>
					<div class="form-group">
						<label for="showEasing">排序</label>
						<input type="text" name="sort" placeholder="请填写排序值，数字越小越排前" class="form-control" value="{$detail.sort}">
					</div>
					<div class="form-group">
						<label for="showEasing">商品详情</label>
						<script id="editor" type="text/plain" style="width:1024px;height:300px;" name="detail">{$detail.detail}</script>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-w-m btn-primary" id="btnsubmit">提交</button>
			<button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">返回</button>
		</form>
	</div>
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/sweetalert/sweetalert.min.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/layer/laydate/laydate.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/validate/jquery.validate.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/validate/additional-methods.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript">
		$().ready(function () {
			$("#signupForm").validate({
				rules: {
					name: {
						required: true,
					},
					// image: {
					// 	required: true,
					// },
					detail: {
						required: true,
					},
					price: {
						required: true,
					},
					sort: {
						required: true,
					},
				},
				messages: {
					name: {
						required: "请填写商品名称",
					},
					// image: {
					// 	required: "请上传图片",
					// },
					detail: {
						required: "请编写商品详细",
					},
					price: {
						required: "请填写价格",
					},
					sort: {
						required: "请填写商品排序",
					},
				},
				submitHandler: function (form) {
					var formData = new FormData(document.getElementById("signupForm"));
					$.ajax({
						url: '{:U('Admin/Goods/goodsAdd')}',
						type: 'post',
						dataType: 'json',
						data: formData,
						async: false,
						cache: false,
						contentType: false,
						processData: false,
						success: function (data) {
							if (data.state) {
								window.location.href = "{:U('Admin/Goods/goodsList')}";
							} else {
								swal(data.msg, "", false);
							}
						},
						error: function (XMLHttpRequest, textStatus, errorThrown) {
							$("div").html(textStatus);
							$("div").append("<br/>" + XMLHttpRequest.status);
							$("div").append("<br/>" + XMLHttpRequest.readyState);
							$("div").append("<br/>" + XMLHttpRequest.responseText);
						}
					});
				}
			})
		});
	</script>
	<script type="text/javascript">
		var ue = UE.getEditor('editor');
	</script>
</body>
<style>
</style>

</html>