@charset "utf-8";
/* CSS Document */

.top {
    width: 100%;
    background: url(../images/top_bg.jpg) no-repeat center center;
    background-size: cover;
}

.top .animate1 {
    width: 26%;
    position: relative;
    left: 22%;
    top: 18.5%;
}

.box1 {
    width: 100%;
    background: url(../images/box1_bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.box1 img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.box1 img:first-child {
    padding-top: 4%;
}

.box1 p {
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 1.3vw;
    position: absolute;
    top: 60%;
    left: 41.5%;
}

.box2 {
    width: 100%;
    background: url(../images/box2_bg.jpg) no-repeat center center;
    background-size: cover;
}

.box2 img:first-child {
    width: 39%;
    display: block;
    margin: 0 auto;
    padding: 3% 0 1% 0;
}

.box2 .item {
    width: 55%;
    margin: 0 auto;
    height: 64%;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.box2 .item p {
    width: 90%;
    font-size: 1vw;
    text-align: left;
    color: #FFF;
    line-height: 230%;
}

.box2 .item p span {
    display: block;
    text-indent: 5%;
    font-size: 1vw;
    margin-top: -3%;
}

.box2 .item .itemA {
    width: 35%;
    height: 86%;
    background: #74c773;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 10px;
}

.box2 .item .itemB {
    width: 35%;
    height: 86%;
    background: #f97a92;
    margin-top: 2%;
    border-radius: 10px;
}

.box2 .item h1 {
    font-size: 1vw;
    text-align: center;
    color: #FFF;
    font-weight: normal;
    margin-top: 10%;
    position: relative;
}

.box2 .item .itemA h1 img {
    width: 10%;
    position: absolute;
    left: 29%;
    margin-top: -5%;
}

.box2 .item .itemB h1 img {
    width: 10%;
    position: absolute;
    left: 29%;
    margin-top: -5%;
}

.box2 p {
    font-size: 1vw;
    color: #353535;
    width: 55%;
    margin: -2% auto 0 auto;
    text-align: center;
}

.box2 .box2_btn {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.box3 {
    width: 100%;
    background: url(../images/box3_bg.jpg) no-repeat center center;
    background-size: cover;
}

.box3 img {
    width: 56%;
    margin: 0 auto;
    padding-top: 6.5%;
    display: block;
}

.box4 {
    width: 100%;
    background: url(../images/box4_bg.jpg) no-repeat center center;
    background-size: cover;
}

.box4 .row {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.box4 .row img {
    width: 25%;
}

.box4 p {
    width: 60%;
    margin: 1% auto 0 auto;
    color: #242424;
    font-size: 1.1vw;
    text-align: center;
}

.box5 {
    width: 100%;
    background: url(../images/box5_bg.jpg) no-repeat center center;
    background-size: cover;
}

.box5 .row {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.box5 .row img {
    width: 25%;
}

.box6 {
    width: 100%;
    background: url(../images/box6_bg.jpg) no-repeat center center;
    background-size: cover;
}

.box6 .row {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.box6 .row img {
    width: 25%;
}

.box7 {
    width: 100%;
    background: url(../images/box7_bg.jpg) no-repeat center center;
    background-size: cover;
}

.box7 .row {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.box7 .row img {
    width: 50%;
}

.box8 {
    width: 100%;
    background: url(../images/box8_bg.jpg) no-repeat center center;
    background-size: cover;
}

/*选项卡*/

.box8_tab {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.off {
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: none;
    position: relative;
}

.tab {
    padding: 0;
    list-style: none;
    width: 65%;
    text-align: center;
    margin: 4% auto -5% auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 99;
}

.tab li {
    width: 15%;
    cursor: pointer;
}

.tab li:first-child {
    background: url(./tab_bg_01.png) no-repeat center center;
    background-size: cover;
}

.tab li:nth-child(2) {
    background: url(./tab_bg_02.png) no-repeat center center;
    background-size: cover;
}

.tab li:nth-child(3) {
    background: url(./tab_bg_03.png) no-repeat center center;
    background-size: cover;
}

.tab li:last-child {
    background: url(./tab_bg_04.png) no-repeat center center;
    background-size: cover;
}

.on {
    display: block;
}

.tab li:first-child.cur {
    background: url(./tab_active_01.png) no-repeat center center;
    background-size: cover;
    color: #FFF;
}

.tab li:nth-child(2).cur {
    background: url(./tab_active_02.png) no-repeat center center;
    background-size: cover;
    color: #FFF;
}

.tab li:nth-child(3).cur {
    background: url(./tab_active_03.png) no-repeat center center;
    background-size: cover;
    color: #FFF;
}

.tab li:last-child.cur {
    background: url(./tab_active_04.png) no-repeat center center;
    background-size: cover;
    color: #FFF;
}

/* 轮播样式 */

.box9 {
    width: 100%;
    background: url(../images/box9_bg.jpg) no-repeat center center;
    background-size: cover;
}

.case .cont {
    background: none;
}

.case span {
    background: none;
}

.case span:hover {
    background: none;
}

.slider2 .case .cont ul li dl {
    padding: none;
}

.slider2 ul {
    width: 500% !important;
}