.iframelist{
    width: 69%;
    display: inline-block;
    float: right;
    border: 0px;
    height: 16.2rem;
    border: 1px solid #efeff4;
    outline: 1px solid #efeff4;
        box-sizing: inherit;
        visibility:visible;

    position: relative;
    scrollbar-track-color:red;
}

.fl{
    float: none;
    display: block;
}
.cations {
    width: 30%;
    background-color: #fff;
    margin-bottom: 3%;
    display: inline-block;
}

.cations .list {
    width: 100%; 
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.cations .list:nth-child(2n) {
    /*border-right: none;*/
}

.cations .list .tit {
    width: 100%;
    font-size: .5rem;
    color: #333333;
    padding: 0.5rem;
}

.cations .list .tu {
    width: 100%;
    text-align: center;
}

.cations .list .tu img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 3.8rem;
}
.active{
    border-right: none !important;
}