.report-header p {
    width: 100%;
    text-align: center;
    float: right;
    color: white;
    font-size: .5rem;
    font-weight: bold;
}
.sorder {
    width: 100%;
}

.sorder .warning {
    width: 100%;
    padding: 3% 5%;
    font-size: .45rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.29);
    border-bottom: 1px solid #dcdad3;
    text-align: left;
    box-shadow: -1px -3px 12px #fff;
    /*overflow: hidden; text-overflow: ellipsis; -webkit-text-overflow: ellipsis; white-space: nowrap;*/
}

.sorder .odernum {
    width: 100%;
    margin-top: 5%;
    background-color: #fff;
    border-top: 1px solid #dcdad3;
    border-bottom: 1px solid #dcdad3;
}

.sorder .odernum ul li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333333;
    font-size: .5rem;
    padding: 3% 5%;
    border-bottom: 1px solid #dcdad3;
}

.sorder .odernum ul li:last-child {
    border-bottom: none;
}

.sorder .odernum ul li span {
    color: #d24239;
    font-size: .57rem;
}

.pay-method {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.29);
    margin-top: 5%;
    border-top: 1px solid #dcdad3;
    text-align: center;
}

.pay-method ul li {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 3% 5%;
    border-bottom: 1px solid #dcdad3;
}

.pay-method ul li:last-child {

}

.pay-method ul li {
    color: #fff;
}

.pay-method label {
	font-size: .5rem;
	line-height: 1rem
}
.pay-method input[type="password"] {
	height: .7rem;
    padding:  3px 16px;
    width: 5rem;
}
.pay-method input[type="text"] {
    height: .7rem;
    padding: 3px 16px;
    width: 5rem;
}
.address-add {
    display: inline-block;
    width: 80%;
    line-height: 1rem;
    margin: 5% 2%;
    font-size: .5rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 195, 157, 0.78);
    float: none !important;
}
